
//Colores
$whiteb: hsl(0, 0%, 100%);
$blackb: hsl(0, 0%, 0%);
$dkGray: hsl(0, 0%, 55%);
$veryDkGray: hsl(0, 0%, 41%);

//Fuente
$fontSize: 1.5rem;

$fontAlata: 'Alata', sans-serif;
$fontAlataW: 400;

$fontJosefin: 'Josefin Sans', sans-serif;
$fontJosefinW: 300;

//Screens Size
$mobile: 375px;
$desktop: 1440px;