
footer {
    background-color: $blackb;
    width: 100%;
    height: 22vh;
    color: $whiteb;
}

.footer__divOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 36rem;
}

.footer__divTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 36rem;

    ul{
        padding: 0;
    }
}

.footer__divTwo p {
    font-size: 1.8rem;
    font-family: 'Josefin Sans';
}

/*MOBILE*/

@media(max-width: 780px){
    footer {
        max-width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .footer__nav {
        display: block;
    }

    .footer__divOne {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 2rem auto;
    }

    .footer__divTwo {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer__divTwo ul {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .footer__rrss{
        display: none;
    }

    .footer__rrss--yes ul{
        display: flex;
    }
    
}