
footer {
    background-color: $blackb;
    width: 100%;
    height: 22vh;
    color: $whiteb;
}

.footer__divOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 36rem;
}

.footer__divTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 36rem;

    ul{
        padding: 0;
    }
}

.footer__divTwo p {
    font-size: 1.8rem;
    font-family: 'Josefin Sans';
}
