
.sectionOne__img--desktop {
    display: block;
    padding-top: 15rem;
    position: relative;
    height: 70rem;
}

.sectionOne__div {
    position: absolute;
    max-width: 72vh;
    background-color: white;
    padding: 8rem;
    top: 125rem;
    right: 25rem;
}



.sectionOne__h2 {
    margin: 0;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: $fontJosefin;
    font-weight: $fontJosefinW;
}

.sectionOne__p {
    font-size: 1.5rem;
    line-height: 2;
    color: $dkGray;
}

.sectionOne__img--mobile{
    display: none;
}

@media (max-width: 780px){

    .sectionOne__img--desktop{
        display: none;
    }

    .sectionOne__img--mobile {
        display: block;
        width: 100%;
    }

    .sectionOne__div{
        position: static;
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem 0;
        padding: 0;
        max-width: 95%;
        margin: 2rem 1rem;
    }
    
    .sectionOne__images{
        margin-top: 9rem;

    }

    .sectionOne__h2{
        margin-top: 2rem;
        font-size: 3rem;
        text-align: center;
    }

    .sectionOne__p{
        text-align: -webkit-center;
    }
}
    