
.sectionTwo {
    margin-top: 20rem;
}

.sectionTwo__divOne {
    display: flex;
    justify-content: space-between;
    margin-bottom: -3rem;
    margin-top: -6rem;
}

.sectionTwo__h2 {
    margin: 0;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: $fontJosefin;
    font-weight: $fontJosefinW;
}

.sectionTwo__galeria div{
    display: grid;
}

.sectionTwo__btn {
    margin: 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-family: $fontJosefin;
    font-weight: $fontJosefinW;
    padding: 1rem 2rem;
    background-color: $whiteb;
    color: $blackb;
    border: 1px solid black;
    letter-spacing: 0.3rem;

    &:hover {
        background-color: $blackb;
        color: $whiteb;
        border: none;
    }
}

.sectionTwo__btn2 {
    display: none;
}

.sectionTwo__galeria {
    margin: 2rem 0;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5.8rem;
}

.sectionTwo__p {
    font-size: 4rem;
    font-family: $fontJosefin;
    text-transform: uppercase;
    margin: -12rem 4rem;
    color: white;
}

@media (max-width: 780px){
    .sectionTwo {
        margin-top: 5rem;

        .sectionTwo__divOne {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
        }

        .sectionTwo__galeria{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
        }
        
    }

    .sectionTwo__h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 3.5rem;
        text-align: center;
    }
    
    .sectionTwo__btn{
        display: none;
    }

    .sectionTwo__btn2 {
        display: block;
        margin: 0 auto;
        width: 43%;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-family: $fontJosefin;
        font-weight: $fontJosefinW;
        padding: 1rem 2rem;
        background-color: $whiteb;
        color: $blackb;
        border: 1px solid black;
        letter-spacing: 0.3rem;

        &:hover {
            background-color: $blackb;
            color: $whiteb;
            border: none;
        }
    }

    .sectionTwo__img{
        display: none;
    }

    .sectionTwo__img--mobile{
        max-width: 95%;
        margin: 0 auto;
    }

    .sectionTwo__p{
        font-size: 3rem;
        margin: -7rem auto auto 3rem;
    }
}